body {
    margin: 0;
    font-family: Arial;
  }
  
  
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    

  }
  
  
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
    aspect-ratio: 3/2.5;
    object-fit: contain;


  }
  
  .column img:hover {
    opacity: 1;
  }
  
